<?xml version="1.0" encoding="UTF-8"?>
<launch>
	
	<!-- Launch empty world Gazebo -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" default="worlds/empty.world"/>
		<arg name="paused" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="verbose" value="true"/>
	</include>	
	
	<!-- Spawn the urdf model -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find omnibase_description)/xacro/main_new.urdf.xacro'" />

	<!-- load controllers -->
	<rosparam file="$(find omnibase_control)/config/controllers.yaml" command="load"/>

	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/open_base" 
	args="--namespace=/omnibase
	joint_state_controller
	front_right_joint_velocity_controller
	front_left_joint_velocity_controller
	back_right_joint_velocity_controller
	back_left_joint_velocity_controller
	"/>

	<arg name="x" default="0.0" />
	<arg name="y" default="0.0" />
	<arg name="z" default="0.0" />
	
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -model omnibase -param robot_description"/>

	<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ns="omnibase"/> -->
	
	<node
		name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<param name="publish_frequency" type="double" value="30.0"/>
		<remap from="/joint_states" to="/omnibase/joint_states"/>
	</node>

</launch>