<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omnibase">

	<xacro:include filename="$(find omnibase_description)/xacro/rim.urdf.xacro"/>
	<xacro:include filename="$(find omnibase_description)/xacro/gazebo.urdf.xacro"/>
	<xacro:include filename="$(find omnibase_description)/xacro/wheel.urdf.xacro" />

	<link name="origin_link"/>
	<link name="base_link">
	<inertial>
		<mass value="0.08723"/>
		<inertia
			ixx="0.0100"
			ixy="0"
			ixz="0"
			iyy="0.0065"
			iyz="0"
			izz="0.0163"/>
	</inertial>
	<visual>
		<geometry>
			<mesh filename="package://omnibase_description/meshes/trotbot_full_stl.stl" scale="0.0003 0.0003 0.0003"/>
		</geometry>
		<material name="base_material">
			<color rgba="1 1 1 1"/>
		</material>
	</visual>
	<collision>
		<geometry>
			<mesh filename="package://omnibase_description/meshes/trotbot_full_stl.stl" scale="0.0003 0.0003 0.0003"/>
		</geometry>
	</collision>

	</link>


	<joint name="base_joint" type="fixed">
		<parent link="origin_link" />
		<child link="base_link" />
		<origin xyz="0 0 0.02"/>
	</joint>

	<xacro:omni_wheel wheel_prefix="front_right">
		<origin xyz="0.0658 0.0658 0" rpy="1.570796326794896 0 -0.78539816339"/>
	</xacro:omni_wheel>	
	<xacro:omni_wheel wheel_prefix="front_left">
		<origin xyz="0.0658 -0.0658 0" rpy="1.570796326794896 0 -2.35619449019"/>
	</xacro:omni_wheel>
	<xacro:omni_wheel wheel_prefix="back_left">
		<origin xyz="-0.0658 -0.0658 0" rpy="1.570796326794896 0 2.35619449019"/>
	</xacro:omni_wheel>	
	<xacro:omni_wheel wheel_prefix="back_right">
		<origin xyz="-0.0658 0.0658 0" rpy="1.570796326794896 0 0.78539816339"/>
	</xacro:omni_wheel>

	<joint name="scan_joint" type="fixed">
    	<parent link="base_link"/>
    	<child link="base_scan"/>
    	<origin xyz="0 0 0.071" rpy="0 0 0"/>
  	</joint>


	<link name="base_scan">
    <visual>
    	<origin xyz="0 0 0.0" rpy="0 0 0"/>
    	<geometry>
       		<mesh filename="package://omnibase_description/meshes/lds.stl" scale="0.0003 0.0003 0.0003"/>
      	</geometry>
      	<material name="dark"/>
    </visual>

    <!-- <collision>
      <origin xyz="0.015 0 -0.0065" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0315" radius="0.055"/>
      </geometry>
    </collision> -->

    <inertial>
      <mass value="0.114" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
               iyy="0.001" iyz="0.0"
               izz="0.001" />
    </inertial>
  	</link>

</robot>